.container {
  /* padding: 0 2rem; */
  position: absolute;
  width: 100%;
  height: 100%;
  align-self: center;
  top: 0;
  left: 0;
  background-color: #424f40;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

/* ------------------------------------------------------ New CSS from Figma ------------------------------- */
.landingBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;

  background: #424f40;
}

.framesBackground {
  position: absolute;
  width: 89.7136243%;
  height: 91.45%;
  left: 5.51256614%;
  top: 8.55893536%;

  background: #7b9278;
  border-radius: 25px 25px 0px 0px;
}

.loginFrame {
  position: absolute;
  width: 52.9100529%;
  height: 76.0456274%;
  left: 11.5740741%;
  top: 16.3498099%;

  background: #e6f5e1;
  border-radius: 25px;
}

.loginFrameHeading {
  position: absolute;
  width: 25.1322751%;
  height: 8.07984791;
  left: 15.1455026%;
  top: 23.0038023%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 82px;

  color: #424f40;
}

.logo {
  position: absolute;
  width: 11.5740471%;
  height: 16.634980988%;
  left: 51.6534392%;
  top: 18.1558935%;

  background-repeat: no-repeat;
}

.usernamePromptText {
  position: absolute;
  width: 5.75396825%;
  height: 1.615969581%;
  left: 16.0712486%;
  top: 42.9657795%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;

  color: #424f40;
}

.usernameField {
  position: absolute;
  width: 33.507936507%;
  height: 5.218631178%;
  left: 16.0712486%;
  top: 45.13973384%;

  background: rgba(189, 210, 182, 0.38);
  border-radius: 12px;
}

.usernameFieldIconFrame {
  position: absolute;
  width: 43px;
  height: 43px;
  left: 203px;
  top: 453px;
}

.usernameFieldIcon {
  position: absolute;
  left: 16.67%;
  right: 16.67%;
  top: 16.67%;
  bottom: 16.67%;

  background-image: url("../images/username_icon.png");
  background-repeat: no-repeat;
}

.passwordFieldPrompt {
  position: absolute;
  width: 97.79px;
  height: 17px;
  left: 199px;
  top: 525px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;

  color: #424f40;
}

.passwordField {
  position: absolute;
  width: 510.78px;
  height: 54.9px;
  left: 199px;
  top: 548.1px;

  background: #d7e8d0;
  border-radius: 12px;
}

.passwordFieldIconFrame {
  position: absolute;
  width: 36px;
  height: 36px;
  left: 206px;
  top: 558px;
}

.passwordFieldIcon {
  position: absolute;
  left: 4.17%;
  right: 4.17%;
  top: 25%;
  bottom: 25%;

  background-image: url("../images/password_key_icon.png");
  background-repeat: no-repeat;
}

.loginButton {
  position: absolute;
  width: 280px;
  height: 62px;
  left: 561px;
  top: 783px;

  background: #879b82;
  border-radius: 12px;
}

.loginButtonText {
  position: absolute;
  width: 65px;
  height: 36px;
  left: 669px;
  top: 795px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #f6fef3;
}
